/* Phone Animation */
        @keyframes animasiphone {

        0%,100%{
            transform:
                rotate(5deg)
                translateY(0);
        }

        50%{
            transform:
                rotate(9deg)
                translateY(-15px);
                }
            }

            .phone-animation{
                animation:
                    animasiphone 6s ease-in-out infinite;
            }
    
   /* Card Animation */
    
        @keyframes card-animation {
        0%,100%{
            transform:translateY(0);
        }

        50%{
            transform:translateY(-10px);
        }
        }

        .card1{
            animation: card-animation 5s ease-in-out infinite;
        }

        .card2{
            animation: card-animation 6s ease-in-out infinite;
        }

        .card3{
            animation: card-animation 7s ease-in-out infinite;
        }

        .card4{
            animation: card-animation 8s ease-in-out infinite;
        }

 /* Triangle Animation */
        .triangle{
            background:
            linear-gradient(
                135deg,
                #ff7ad9,
                #7c3aed,
                #1f1f1f
            );

            clip-path:polygon(
                50% 0,
                0 100%,
                100% 100%
            );

            box-shadow:
            0 15px 40px rgba(124,58,237,.5);

            animation: floattriangle 8s ease-in-out infinite;
            }

            @keyframes floattriangle {
               0%,100%{
                    transform:
                     rotate(25deg)
                      translateY(0);
                }

                50%{
                    transform: rotate(10deg) translateY(-20px);
                }
            }

            /* Ball Animation*/
            .ball{
                border-radius: 50%;
                background: radial-gradient(
                    circle at 30% 30%,
                    #c084fc,
                    #7e22ce,
                    #1e1b4b,
                    #000
                );

                box-shadow:
                    0 0 30px rgba(168,85,247,.7);

                animation: floatbox 8s ease-in-out infinite;
            }

            @keyframes floatbox{

                0%,100%{
                    transform:
                     rotate(-20deg)
                      translateY(0);
                }

                50%{
                    transform: rotate(-20deg) translateY(-20px);
                }

            }

            /* Box Animation */
            .box{
                border-radius: 20px;
                background: linear-gradient(
                    135deg,
                    #c084fc,
                    #581c87,
                    #000
                );

                box-shadow:
                    0 0 40px rgba(168,85,247,.5);

                transform: rotate(-20deg);

                animation: boxFloat 7s ease-in-out infinite;
            }

            @keyframes boxFloat{

                0%,100%{
                    transform:
                        rotate(-20deg)
                        translateY(0);
                }

                50%{
                    transform:
                        rotate(-30deg)
                        translateY(-25px);
                }

            }

        /* photo animation */
        .about-photo{
            opacity: 0;
            transform: translateY(60px);
            transition:
                opacity .8s ease,
                transform .8s ease;

        }

        .about-photo.show{
            opacity: 1;
            transform: translateY(0);
            animation:
                photoFloat 6s ease-in-out infinite;
        }